<p class="section-caption">
    Click on the "Courses" tab to see the list of courses. Click on the
	course for which you would like to add course offerings. On the course
	page, there is a separate section titled "Course is offered during these semesters".<br/>
	Select the semester during which the course is offered, from the drop
	down list. Click the "Add Class" Button to add the semester.<br/>
	Note: You can only add course offerings for a course if you have editing rights for the
	prefix.
  </p>

  <div class="help-screencast">
	<p>Watch a screencast about how to add a course offering for a course.</p>
	<%= help_movie( "/help/screencasts/Add_semester/Add_semester.mov", "/help/screencasts/Add_semester/Add_semester.jpg", 800, 390 ) %>
  </div>
