<p class="section-caption">
    Click on the "Map" tab. Click on the course that you have already taken. Below in the 'Course Details' section, click on the "Add to my completed courses list". The course would be listed under the 'Previously Taken Courses' section in the path frame on the left.<br/>
Note 1: To add a course to the completed courses list, you should atleast have one path created.
Note 2: A course that is added to the completed courses list appears on all the paths, and the outgoing proficiencies arising from that course is also added to your complete set of proficiencies.<br/>
  </p>

<div class="help-screencast">
	<p>Watch a screencast about how to add a previously taken course.</p>
	<%= help_movie( "/help/screencasts/Add_completed_course/add_completed_course.mov", "/help/screencasts/Add_completed_course/add_completed_course.jpg", 680, 435 ) %>
</div>
