
  <p class="section-caption">
    Click on the "Map" tab. Click on the course you would like to add. Below in the 'Course Details' section, there would be red "Add" buttons with the semesters during which the course is offered. Click on the button corresponding to the semester during which you would like to take the course. To confirm that the course has been added to your current path, view the path frame to the left of the 'Courses' section. The course prefix should appear under the corresponding semester. The courses that are in your current path would be in green.<br/>
If an "Add" button is grayed out, it means that you do not have the required incoming proficiencies to take the course during that semester. To add the course to a particular semester, you should have taken courses that provide the necessary incoming proficiencies, prior to that semester. The incoming proficiencies for a course are listed in the "INCOMING PROFICIENCIES" sub-section. Some courses allow alternate combinations of proficiencies to be satisfied. The alternate sets of proficiencies are listed as 'Alternate Requirements'. To take the course, you can either have all the proficiencies listed as 'Requirements' or the proficiencies in each 'Alternate Requirements' set. The proficiencies that you satisfy, would be in green, while the proficiencies that you do not satisfy would be listed as red buttons. Click on a red proficiency button to view the courses that provide that proficiency. The courses that match would be in red, in the 'Courses' section. Add either of those courses to satisfy the proficiency. Similarly, add courses to satisfy the other required proficiencies. Once all proficiencies are satisfied, the "Add" buttons for the semesters during which you are allowed to take the course would become active.<br/>

  </p>

<div class="help-screencast">
	<p>Watch a screencast about how to add a course to the current path.</p>
	<%= help_movie( "/help/screencasts/Add_course_to_path/add_course_to_path.mov", "/help/screencasts/Add_course_to_path/add_course_to_path.jpg", 680, 435 ) %>
</div>
