<p class="section-caption">
    Click on the "Map" tab. The 'Courses' section is divided into four sub-sections, each representing a level of the courses in the sub-section; i.e. the 400 level courses are on the top most sub-section, and the 100 level courses are on the bottom most sub-section. Each box represents a course. Click on the left and right arrows to browse through the available courses in a sub-section.<br/>
  </p>

<div class="help-screencast">
	<p>Watch a screencast about how to browse courses.</p>
	<%= help_movie( "/help/screencasts/Browse_courses/browse_courses.mov", "/help/screencasts/Browse_courses/browse_courses.jpg", 680, 435 ) %>
</div>