 <p class="section-caption">
    To delete an outgoing proficiency, click on the "delete" link besides
	the name of the proficiency.<br/>
	To delete an incoming proficiency within a slot, click on the "delete"
	link beside the name of the proficiency in the respective slot.<br/>
	To raise or lower the level of the incoming proficiency within a slot,
	click on the "raise" or "lower" links beside the name of the
	proficiency within that slot, respectively.<br/>
	Note: You can only change or delete the proficiencies for a course if
	you have editing rights for the prefix.
  </p>

  <div class="help-screencast">
	<p>Watch a screencast about how to change or delete the proficiencies for a course.</p>
	<%= help_movie( "/help/screencasts/Change_delete_proficiency/Change_delete_proficiency.mov", "/help/screencasts/Change_delete_proficiency/Change_delete_proficiency.jpg", 800, 390 ) %>
  </div>
