<p class="section-caption">
    The course that you are currently viewing is yellow.<br/>
	The courses marked green are the courses that are added to the current path or are courses that you have previously taken.<br/>
	The courses marked in red are the courses that match the proficiency search, during the process of adding a course to the current path.<br/>
  </p>

  <!--><div class="help-screencast">
	<p>Watch a screencast about how to create a path.</p>
  	<a href="/help/screencasts/Create_new_course/Create_new_course.mov" rel="qtposter">
	  <img src="/help/screencasts/Create_new_course/Create_new_course.jpg" width="832" height="420" />
	</a>
  </div>-->