<p class="section-caption">
    Click on the "Courses" tab, and above the list of the courses, on the
	left there is a button named "Create new course". Clicking on that
	button will take you to the form where you can enter all the details
	of the course, except the incoming and outgoing proficiencies.<br/>
	Note: You can only create a course if you have editing rights for the
	prefix.
  </p>

  <div class="help-screencast">
	<p>Watch a screencast about how to create a course.</p>
	<%= help_movie( "/help/screencasts/Create_new_course/Create_new_course.mov", "/help/screencasts/Create_new_course/Create_new_course.jpg", 800, 390 ) %>
  </div>