<p class="section-caption">
    Click on the "Courses" tab to see the list of courses. Click on the
	course you would like to delete. Click on the "Delete" button below
	the details of the course and confirm the action by clicking OK.<br/>
	Note: You can only delete a course if you have editing rights for the
	prefix.
  </p>

  <div class="help-screencast">
	<p>Watch a screencast about how to delete a course.</p>
  	<%= help_movie( "/help/screencasts/Delete_course/Delete_course.mov", "/help/screencasts/Delete_course/Delete_course.jpg", 800, 390 ) %>
  </div>
