<p class="section-caption">
    Click on the "Courses" tab to see the list of courses. Click on the
	course for which you would like to delete a course offering. On the course
	page, there is a separate section titled "Course is offered during these semesters".<br/>
	To delete a semester from the list of semesters during which the course is offered,
	click on the "delete" link beside the semester name.<br/>
	Note: You can only delete course offerings for a course if you have editing rights for the
	prefix.
  </p>

  <div class="help-screencast">
	<p>Watch a screencast about how to add a course offering for a course.</p>
	<%= help_movie( "/help/screencasts/Delete_semester/Delete_semester.mov", "/help/screencasts/Delete_semester/Delete_semester.jpg", 800, 390 ) %>
  </div>