<p class="section-caption">
    Click on the "Paths" tab. In the list of your paths, click on the "delete" link beside the path you would like to delete and confirm the action by clicking "OK".<br/>
  </p>

<div class="help-screencast">
	<p>Watch a screencast about how to delete a path.</p>
	<%= help_movie( "/help/screencasts/Delete_path/delete_path.mov", "/help/screencasts/Delete_path/delete_path.jpg", 680, 435 ) %>
</div>