<p class="section-caption">
    Each participating unit's Digital Culture representative coordinates
	with the site to distribute editing rites. Please talk to your unit's
	Digital Culture representative.
  </p>

  <!--
  <a href="/help/screencasts/add_a_course.mov" rel="qtposter">
  	<img src="/help/screencasts/add_a_course.jpg" width="768" height="496" />
  </a>
  -->
