<p class="section-caption">
    Click on the "Courses" tab to see the list of courses. Click on the
	course you would like to edit. Click on the "Edit" button below the
	details of the course. Change the information and click the "Update"
	button.<br/>
	Note: You can only edit a course if you have editing rights for the
	prefix.
  </p>

  <div class="help-screencast">
	<p>Watch a screencast about how to edit a course.</p>
  	<%= help_movie( "/help/screencasts/Edit_course/Edit_course.mov", "/help/screencasts/Edit_course/Edit_course.jpg", 800, 390 ) %>
  </div>
