<p class="section-caption">
    Click on the "Courses" tab to see the list of courses. Click on the
	course for which you would like to add proficiencies. On the course
	page, there are two separate sections, named "Incoming Proficiencies"
	and "Outgoing Proficiencies".<br/>
	To add outgoing proficiencies select the proficiency from the drop
	down list, under the "Outgoing Proficiencies" section. Click the "Add
	Outgoing Proficiency" button to add that proficiency.<br/>
	To add incoming proficiencies, select the proficiency from the drop
	down list, under the "Incoming Proficiencies" section. Click the "Add
	to Slot" button for the slot to which you want to add the proficiency.
	For instance, to add the proficiency "Algebra 100" to Slot 1, select
	the "Algebra 100" proficiency from the drop down list, and click the
	"Add to Slot 1" button. This would add "Algebra 100" to Slot 1.<br/>
	
	100 level courses do not have incoming proficiencies. However, you can
	add text to the optional field "High School Incoming Proficiencies"
	for 100 level courses.<br/>
	Note: You can only add proficiencies to a course if you have editing
	rights for the prefix.
  </p>

  <div class="help-screencast">
	<p>Watch a screencast about how to enter proficiencies for a course.</p>
	<%= help_movie( "/help/screencasts/Add_proficiency/Add_proficiency.mov", "/help/screencasts/Add_proficiency/Add_proficiency.jpg", 800, 390 ) %>
  </div>
