<p class="section-caption">
    Optional fields are marked with an asterisk, they are: Other Special
	Needs, Notes, and High School Incoming Proficiencies.
  </p>

  <!--
  <a href="/help/screencasts/add_a_course.mov" rel="qtposter">
  	<img src="/help/screencasts/add_a_course.jpg" width="768" height="496" />
  </a>
  -->
