<p class="section-caption">
    Click on the "Map" tab. Click on the course you would like to remove. Below in the 'Course Details' section, there would be a button named "Remove from path". Click on that button to remove the course from your current path. You can also remove a course from your current path by clicking on the "remove from path" link beside the course prefix on the path frame.<br/>
  </p>

<div class="help-screencast">
	<p>Watch a screencast about how to remove a course from the current path.</p>
	<%= help_movie( "/help/screencasts/Remove_course_from_path/remove_course_from_path.mov", "/help/screencasts/Remove_course_from_path/remove_course_from_path.jpg", 680, 435 ) %>
</div>
