<p class="section-caption">
    Click on the "Map" tab. Click on the course that you would like to remove from you completed courses list. Below in the 'Course Details' section, click on the "Remove from my completed courses list". The course would no longer be listed under the 'Previously Taken Courses' section in the path frame on the left. Alternately, you can click on the 'remove' link beside the course in the 'Previously Taken Courses' section in the path frame.<br/>
Note: Removing a course from the completed courses list means that the course would no longer appear in all the paths and the outgoing proficiencies arising from that course would no longer be included in the complete set of your proficiencies.<br/>
  </p>

<div class="help-screencast">
	<p>Watch a screencast about how to remove a previously taken course.</p>
	<%= help_movie( "/help/screencasts/Remove_completed_course/remove_completed_course.mov",  "/help/screencasts/Remove_completed_course/remove_completed_course.jpg", 680, 435 ) %>
</div>
