<p class="section-caption">
    Click on the "Paths" tab. In the list of your paths, click on the "rename" link beside the path you would like to rename. Enter a new name for the path and click on the "UPDATE" button.<br/>
  </p>

 <div class="help-screencast">
	<p>Watch a screencast about how to rename a path.</p>
	<%= help_movie( "/help/screencasts/Rename_path/rename_path.mov", "/help/screencasts/Rename_path/rename_path.jpg", 680, 435 ) %>
  </div>
