<p class="section-caption">
    Click on the "Paths" tab. In the list of your paths, click on the "Set as the current path" link beside the path you would like to set as your current path.<br/>
  </p>

<div class="help-screencast">
	<p>Watch a screencast about how to set the current path.</p>
	<%= help_movie( "/help/screencasts/Set_current_path/set_current_path.mov",  "/help/screencasts/Set_current_path/set_current_path.jpg", 680, 435 ) %>
</div>