<p class="section-caption">
    There can be multiple combinations of incoming proficiencies for a
	course that fulfill course prerequisites. A single combination is
	represented through a slot.<br/>
	If a course requires just one combination of incoming proficiencies, add
	all the proficiencies to Slot 1.<br/>
	If a course requires several combinations of incoming proficiencies,
	then you would have to add proficiencies to different slots.<br/>
	For instance, consider a course that accepts two combinations of
	incoming proficiencies: "Project Development 100" and 
	"Publishing and Sharing 100" is one combination, "Project Development 100"
	and Producing and Staging 100" is another combination. To represent this
	situation, Slot 1 would contain the proficiencies "Project Development 100"
	and "Publishing and Sharing 100", while Slot 2 would contain
	"Project Development 100" and "Producing and Staging 100".<br/>
	
  </p>

  <!--
  <a href="/help/screencasts/add_a_course.mov" rel="qtposter">
  	<img src="/help/screencasts/add_a_course.jpg" width="768" height="496" />
  </a>
  -->
