<p class="section-caption">
    To sort the courses according to a particular field, simply click on
	the field title. The first click will sort the courses in ascending
	manner and clicking on the same field another time will sort the
	courses in descending order.
  </p>

  <!--
  <a href="/help/screencasts/add_a_course.mov" rel="qtposter">
  	<img src="/help/screencasts/add_a_course.jpg" width="768" height="496" />
  </a>
  -->
