<p class="section-caption">
    Click on the "Paths" tab. Right below the menu tabs, there is a button named "Turn off current path" beside the "Create New Path" button. Click on that button to turn off your current path.<br/>
  </p>

  <!--><div class="help-screencast">
	<p>Watch a screencast about how to create a path.</p>
  	<a href="/help/screencasts/Create_new_course/Create_new_course.mov" rel="qtposter">
	  <img src="/help/screencasts/Create_new_course/Create_new_course.jpg" width="832" height="420" />
	</a>
  </div>-->
