<p class="section-caption">
    Click on the "Map" tab. In the 'Courses' section, click on the box of the course you would like to view. The course you are currently viewing would be marked in yellow. The details of the course would be displayed below the 'Courses' section.<br/>
  </p>

<div class="help-screencast">
	<p>Watch a screencast about how to view the details of a course.</p>
	<%= help_movie( "/help/screencasts/View_course/view_course.mov", "/help/screencasts/View_course/view_course.jpg", 680, 435 ) %>
</div>