<p class="section-caption">
    Click on the 'Map' tab. The courses that are already added to the current path would be marked in green, along with the courses that you have previously taken. Alternately, the course prefixes of the courses that are present in the current path are listed semester-wise on the path frame to the left of the map, and the courses that you have previously taken are listed in the 'Previously Taken Courses' section on the frame.
</p>

<div class="help-screencast">
	<p>Watch a screencast about how to view the courses in the current path.</p>
	<%= help_movie( "/help/screencasts/View_courses_in_path/view_courses_in_path.mov", "/help/screencasts/View_courses_in_path/view_courses_in_path.jpg", 680, 435 ) %>
</div>
