<%= content_sheet_div %>

<div class="help-section">

	
	<h2>Help</h2>
	
  
	<p>
	Welcome to the Digital Culture Interactive Course and Education Planner. Here you can browse Digital Culture course descriptions; browse Digital Culture proficiencies; develop your own Digital Culture degree path and explore course connections. The Digital Culture map feature will allow you to do all of this interactively, while you build up a path of courses customized for your educational goals. As you discover courses that interest you, the map can help you find what courses are available to satisfy required proficiencies, and what outcomes they generate for connecting to subsequent courses.
	</p>
	
	<p>
	The Digital Culture curriculum uses an innovative concept called proficiencies to connect courses across academic disciplines, instead of traditional methods such as course prerequisites. You may be familiar with prerequisites that are used to enforce a certain course sequence within one academic department. Proficiencies in the Digital Culture curriculum identify generalized learning outcomes that are common across disciplines participating in digital culture. The benefit of proficiencies is this: you may gain a 200 level proficiency in "Form and Composition" from either the 200 level Design course "Media Editing" or the 200 level Art course "Introduction to Visualization and Prototyping". In either case, that proficiency will provide part of the knowledge you need to take the 300 level Computer Science course "Graphics and Information Visualization for Digital Culture". Proficiencies provide the connections across disciplines in the digital culture network.<br/>
	</p>

	<h3>Getting Started</h3>
	
	<p>
You will need to create your own course plan before being able to schedule your courses for the next semester.<br/><br/>
Steps to get started in creating your own plan:<br/>
	</p>

	<h4>Step 1</h4>

	<p>
Go to this link: <%= link_to "http://digitalculture.asu.edu/paths", "/paths" %> (You must be signed in to myASU to get here)<br/>

Select: Create New Path then create a title for it<br/><br/>

You can create more than one path to see what happens if you choose different courses. Just make sure that the one you want to work on says CURRENT PATH next to the title.
	</p>

	<h4>Step 2</h4>

	<p>
Click on the Map tab.<br/><br/>

Click the link in the left column that says this: Major, Minor or Cert. Map Select your Digital Culture program and print it out or keep it open in another window. Use this as a guide to help you choose the correct number of credits hours needed in each category of Digital Culture. This list can be found on the second page of the document. You want to check the sections on Digital Culture Studies, Digital Media, Related Digital Culture and the Capstone.
	</p>
	
	<h4>Step 3</h4>

	<p>
Begin to use the planner.<br/><br/>

Start at the bottom level and click the courses that you have already taken. When you click on a course and scroll down, you can choose “Add to my completed course list” if you’ve already taken the course.<br/><br/>

You should then see these courses on the list to the left as they are added.
	</p>

	<h4>Step 4</h4>

	<p>
Begin choosing the courses that you want to take starting with the next available semester. When you select a class, scroll down to read the course description and to see the requirements.<br/><br/>

If you see a list of requirements in all green:<br/><br/>

Choose the semester that you want to take this course in – it will show up on your list in the left column.<br/><br/>

If any of the requirements in all of the lists are in red:<br/><br/>

You can click on the red proficiencies and it will highlight courses on the planner that will give you that specific requirement. Your semester selections will be grayed out until you select another course or courses that will give you the proficiencies you need before taking this course. Come back to this class and schedule it for a later semester, once you schedule the course(s) needed to gain the proficiencies.<br/><br/>

Continue going up the rows, selecting the courses you are interested in.<br/><br/>

Make sure you follow your credit hour requirements for each area while choosing your courses. Using the Major as an example:<br/><br/>

27 credit hours in the Digital Culture Studies category, a total of 15 hours in the Digital Media category with at least 3 hours in Media Engineering; 6 hours in Related Digital Culture. (Historical & Theoretical courses do not show up on your planner, but there is a link to them on the left column)
	</p>
	
	<h4>Step 5</h4>

	<p>
Capstones -
Once you work your way up to the 400 level courses, you will see a list of the 5 capstones to choose from. Click on each of the capstone courses to see which one has the most fulfilled proficiencies. This should be your choice for the capstone. If you have more than one choice – great! Pick one. If you don’t like the choice that comes up, you will want to change some of the earlier courses you have chosen in order to get a different selection.<br/><br/>

If you are in a major, you will need 6 credit hours of capstone (section I & II). If you are in a minor or certificate, you will need 3 credit hours (section I).
	</p>

	<h4>Step 6</h4>

	<p>
Once you complete your planner, click Send path to advisor on the left column. This will send the path to your Digital Culture advisor/coordinator, Erica Green, and will also send a copy to your ASU email.<br/><br/>

Once you receive an approval email from your advisor, your advising hold will be removed and you are free to schedule your Digital Culture courses. You will complete this process every semester. This will give you the opportunity to make changes if needed.<br/><br/>

If have any other scheduling questions, please contact Erica Green, Digital Culture Education Coordinator at Erica.G.Green@asu.edu or 480-965-4495 to schedule an advising appointment.
	</p>
	
</div>



</div>