<%#= content_sheet_div %>

<div class="maincontent" style="width:920px;">
	
	<h1>Cultural Networks</h1>
	
	<p>
		In the area of digital culture networks, we are interested in understanding the connections and processes between the virtual online networks with our physical world experiences. We are interested in understanding how online artifacts, activities and social relationships are affected by (and in turn affect) events, actions and physical social networks. Our research interests reflect the strengths of faculty from social network analysis, perception, storytelling, media composition and interactive systems design.<br/><br/>
			
		<a href="http://digitalculture.asu.edu/events">See the Digital Culture events list for updates on events and workshops from the projects below.</a>
			<img src="images/GrishaCover-1.jpg" width="400" style="float:right; margin: 10px 0px 2px 8px;-webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);" />
	</p>
	
		<h2>CN Creative Projects</h2>
		
		<h3>echo::system</h3>
		<p> 
echo::system is a performance of 'constructed' environments with live music, dance, live video and electro-acoustic design. Performers and viewers co-exist within a sensory rich, immersive environment, witnessing stories that unfold as a way to re-examine contemporary urban life. Led by Grisha Coleman and Todd Ingalls.<br/>
<br/>
		</p>

		<h3>DC Game Club</h3>
		<p> 
DC Game Club is a community for game designers of any skill level from total newbies to seasoned experts.  Interested in skills like 3D modeling in Blender, game design in Unity, or sound design with Audacity? Interested in connecting with collaborators to work on a new project?  Tired of toiling in isolation?!  Join us!  The gathering is informal. No lectures or presentations, just an ad hoc group of people sharing their knowledge and looking over each other's shoulders. Bring your laptop and grab a chair.  If you don't have a laptop, come anyways, we'll hook you up. Led by David Birchfield.<br/>
<br/>
		</p>
	
		<h3 style="border: none; margin: 16px 0px 0px 0px;">Learning Installation</h3>
		<p>
Learning Installation is a platform for creating media rich, augmented displays for printed display installations. The project combines high quality physical prints, rich interactive media, realtime video object tracking and new mobile computing devices to create an engaging collaborative media experience. Led by David Tinapple and Loren Olson.<br/>
<br/>
		</p>
		
		<h3>Gaming with Biofeedback</h3>
		<p><img src="images/ok.jpg" width="400" style="float:right; margin: 10px 0px 2px 8px;-webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);" />
The end goal is for Gaming with Biofeedback is to create two (or more) short games that are designed to affect the autonomic nervous system (this is in charge of several functions including:  heart rate, respiration rate, salivation, perspiration, and pupil response). Students will work to design the game and then find the appropriate sensors for the installation (dumpster diving permitted!). One idea is to have the users become more participatory in the game-play. With practice (and how much practice is a good question) can they begin to control their heartrate, etc.  as they play an action-packed game? Unlike traditional experiments, all data is shown to the players in real time so they are meshed in the experience and in the learning process. Led by Mina Johnson-Glenberg.<br/>
<br/>
		</p>
		
		<h3>Building with a Memory</h3>
		<p>
We are developing responsive installations that demonstrate awareness of human activity in the built environment. Initial experiments resulted in the creation of an artistic and architectural intervention for enhancing community awareness in a distributed workplace. We are currently designing and building an interior/exterior installation for the new Digital Culture space in the Stauffer B building on ASU’s Tempe campus. <br/>
<br/>
		</p>
	
</div>

<div class="clearfloat">
</div>



