<div class="maincontent">
	
	<h1>About</h1>
	
	<p>Have you ever wondered if an interactive gaming system could be used for more  than simple entertainment, such as a tool for rehabilitating physical disabilities  or fighting diabetes?
	</p>
	<p>Have you thought that a smart phone could be even smarter, potentially sensing environmental changes that could anticipate and intuitively respond to local emergencies?</p>
	<p>Have you wanted to create a virtual bridge between various cultures and  styles of design and the arts, so that people can experience the world’s creative offerings regardless of location?</p>
	<p>Do you have a passion for working with fellow students and faculty to create networks that will explore New Media and digital experiences in an educational environment unlike any other in the nation?</p>
	<p>Wouldn’t you like to engage in a degree program that is highly flexible? </p>
	<p>where you get to design your own experience tailored to your creative and digital interests  and aspirations?</p>
	<p>The ASU Herberger Institute for Design and the Arts has established the Digital Culture Initiative to directly address these kinds of questions, recognizing the increasing role digital-based tools and environments play in our day-to-day lives. We coexist in a world that is now based on digital assistance, from the computers we use, to our phones and entertainment devices, to even our cars and household appliances. Users drive the development of the next-generation applications and tools as much as developers. Aesthetic, emotional and intellectual engagement – all elements of a design and the arts experience – are as integral to the continual evolution of our digital world as the actual functionality of the product.</p>
	<p><a href="http://herbergerinstitute.asu.edu/degrees/digital_culture/employment.php" target="_blank">More Digital Culture career information</a></p>
	<p>ASU is at the forefront of innovation in higher education, and the Digital Culture initiative is one of these innovations.Through a collaboration with <a href="#">15 partnering ASU units</a>, the Herberger Institute has created a <%=link_to "curriculum","education/courses" %> that will not only prepare students with tangible skills in New Media, but also with skills to be thought central in this digital world over the next 40 years. </p>
	
	<h2>Departments/Schools offering Digital Culture Courses</h2>
	<ul>
		<li>Anthropology</li>
		<li>Architecture</li>
		<li>Art</li>
		<li>Art Education</li>
		<li>Arts, Media &amp; Engineering</li>
		<li>College of Technology Innovation</li>
		<li>Computer Science &amp; Engineering</li>
		<li>Dance</li>
		<li>Electrical Engineering</li>
		<li>English</li>
		<li>Journalism and Mass Communication</li>
		<li>Music</li>
		<li>Psychology</li>
		<li>Teacher's College</li>
		<li>Theater and Film</li>
	</ul>
	<h2>Additional Participating Departments</h2>
	<ul>
		<li>Film and Media Studies</li>
		<li>Interdisciplinary Arts and Performance</li>
	</ul>

	
	<div style="margin-top:20px;">
		<p style=" font-size:10px;">*For more information about our undergraduate programs, contact:<br/>
		Erica Green, Digital Culture Education Coordinator
		<a href="">Erica.G.Green@asu.edu</a></p>
	</div>
	
	
</div>
<div class="others">
		<%=image_tag("content-img5.png", :class => "side-image", :style => "left:-300px;top:550px;") %>

</div>
<div class="clearfloat">
	
	</div>