<!-- <h1><a href="http://herbergerinstitute.asu.edu/degrees/digital_culture/" class="unit_program">Digital Culture</a></h1> -->


<div class="maincontent">
	
	<h1>Contact</h1>
	
	<p>
		Need help? Students with a course related question should contact their instructor or teaching assistant directly. For other questions or issues, you can submit a <%= link_to( 'help request from this link.', '/issue' ) %>
	</p>
	
	<p>
		See the <%= link_to( 'Digital Culture Policies and Forms', '/forms' ) %> page for building access information and information about Lab, Equipment and Classroom policies.
	</p>
	
	<br/>
	
	<p>For more information about our undergraduate programs, contact:<br/>
	   Erica Green, Digital Culture Education Coordinator<br/><a href="">Erica.G.Green@asu.edu</a>
	</p>
	
	<br/>
	
	<p>Contact the School of Arts, Media and Engineering<br/>
	PO Box 878709, Tempe, AZ 85287-8709<br/> 
	480.965.9438 | Fax 480.965.0961</p>
	<p>Direct Address<br/> 
	699 S. Mill Ave., Room 395<br/> 
	Tempe AZ 85281</p>
</div>

<div class="others">
	<%=image_tag("content-img3.png", :class => "side-image", :style => "left:0px;") %>
</div>