$("#course_detail").html("<%= escape_javascript(render :partial => 'front/course_detail') %>");

//Fade in the Popup and add close button
$('#course_detail').fadeIn().css({ 'width': 640 }).append('<a href="#" class="closebutton"><span>Close</span></a>');

//Define margin for center alignment (vertical   horizontal) - we add 80px to the height/width to accomodate for the padding  and border width defined in the css
var popMargTop = ($('#course_detail').height() + 80) / 2;
var popMargLeft = ($('#course_detail').width() + 80) / 2;

//Apply Margin to Popup
$('#course_detail').css({
    'margin-top' : -popMargTop,
    'margin-left' : -popMargLeft
});

//Fade in Background
$('body').append('<div id="fade"></div>'); //Add the fade layer to bottom of the body tag.
$('#fade').css({'filter' : 'alpha(opacity=80)'}).fadeIn(); //Fade in the fade layer - .css({'filter' : 'alpha(opacity=80)'}) is used to fix the IE Bug on fading transparencies 
