<div class="maincontent">
	
	<h1>Facilities</h1>
	
	<p>
		ASU’s new Digital Culture building, which opened in January 2011, consists of several digital labs attached to one large reconfigurable learning space. The large learning space is a 4800 square foot space designed to be flexible and reconfigured quickly. A high quality, sound proof, convention center style, integrated movable wall can divide the space in half. The primary computing facilities for this reconfigurable space consist of laptops for instructors to use in their classes. Students pick up a laptop and arrange tables and chairs into groups for working collaboratively in class. This large space can also be opened up for larger performances, installations and lectures. A production style pipe grid system below the ceiling is equipped with professional lighting infrastructure as well as data (gigabit ethernet) and power drops that cover the entire space. The room is equipped with a high quality venue projector and large screen, and two additional secondary projectors and screens for divided space use. Six 12 channel integrated sound drops integrate with the room sound system. Room sound and lighting can be controlled in the learning space, or from the attached control room that has a window for a view into the space.
	</p>
	<p>
		In addition to our reconfigurable spaces, we also have a high-end workstation computer lab and two digital fabrication labs. The computer lab is equipped for digital media creation with fast computers and media applications. 15 dedicated 27” Apple iMac computers are on desks, equipped with the latest media software such as Apple Final Cut Pro, Logic Pro, Ableton Live, Cycling ‘74 Max/MSP, Adobe Photoshop and more. A large central set of tables in the lab provides a classroom or meeting space, and can be used for laptop computers. The lab is also equipped with a screen, projector and sound system for presentations.
	</p>
	<p>
		Attached to the computer lab is an equipment room for storing a variety of additional media hardware and peripheral that are available for class and project use by faculty and students. This equipment includes headphones and headphone amps, microphones and stands, computer audio interfaces (firewire and usb), small portable audio mixers, several types of midi keyboard controllers, video cameras, self powered studio monitors and smaller speakers.
	</p>
	<p>
		The first digital fab-lab is a 3D CAD/CAM development studio. This studio houses 3D FDM printers, a laser cutter and digital scanning and modeling tools. 10 Dell Precision workstations run software such as Rhino 3D for digital model design. There are 10 work benches equipped for electronics and design project work. The second digital fabrication space is centered around large format CNC milling and cutting tables and lathes. This space also is a full wood/metal shop with a dedicated area for welding. The fabrication area also includes a separate room for locking project storage, to allow students to store work in progress. 
	</p>
	
	
	<div style="margin-top:20px;">
		<p style=" font-size:10px;">*For more information about our undergraduate programs, contact:<br/>
		Erica Green, Digital Culture Education Coordinator
		<a href="">Erica.G.Green@asu.edu</a></p>
		</div>
	
	
</div>

<div class="others">
	
	<!-- <div id="news" class="other-div">
			<h2>Recent News</h2>
			<div class="other-div-content" style="height:100px;">
			</div>
			
			</div>
			
		<div id="links" class="other-div">
			<h2>Links</h2>
			<div class="other-div-content" style="height:100px;">
			</div>
			
			</div>
			
			
			<div class="clearfloat">
				
				</div> -->
				
				
		<%=image_tag("content-img1.png", :class => "side-image", :style => "left:-30px;") %>
	
	
	
</div>

	<div class="clearfloat">
	</div>

		
<!-- <div class="dcm_bottom_photo">
	<%= image_tag("bottom1.jpg") %>
</div> -->

