<div class="maincontent">
	
	<h1>Proficiencies</h1>
	
	<p>The Digital Culture curriculum is outcomes based rather than course sequence based. The curriculum uses an innovative proficiency-based network to connect courses across academic disciplines, instead of traditional methods such as course prerequisites. Each course provides certain proficiencies. These proficiencies are accumulated and then unlock access to higher level courses, which in turn provide further proficiencies.
	</p>
	<p>Proficiencies in the Digital Culture curriculum identify generalized learning outcomes that are common across disciplines participating in digital culture coursework. Proficiencies provide the connections across disciplines in the digital culture network rather than the traditional pre-requisites.</p>
	<p>Because the curriculum is proficiency based, students can follow unique paths through the coursework. For instance, a student who has completed ENG 102 and MAT 210 demonstrates the proficiencies necessary for the 200-level digital culture core courses and could by-pass the 100-level classes, whereas a student without MAT 210 may need one of the 100-level courses.</p>

	
	<div style="margin-top:20px;">
		<p style=" font-size:10px;">*For more information about our undergraduate programs, contact:<br/>
		Erica Green, Digital Culture Education Coordinator
		<a href="">Erica.G.Green@asu.edu</a></p>
		</div>
	
	
</div>

<div class="others">
	
	<!-- <div id="news" class="other-div">
		<h2>Recent News</h2>
		<div class="other-div-content" style="height:100px;">
		</div>
		
		</div>
		
	<div id="links" class="other-div">
		<h2>Links</h2>
		<div class="other-div-content" style="height:100px;">
		</div>
		
		</div>
		
		
		<div class="clearfloat">
			
			</div> -->
			
	 <%=image_tag("content-img4.png", :class => "side-image", :style => "left:-70px;top:80px;") %>
			
	
</div>

<!-- <div class="dcm_bottom_photo">
	<%= image_tag("bottom1.jpg") %>
</div> -->


