#asu_gold_hdr {
   height: 97px;
   }
   
div.clear {
   margin-bottom: 11px;
   }

table#search_heading_controls span.s {
   padding-right: 24px;
   padding-left: 2px;
   }
   
p.g a span.l {
   font-size: .92em;
   color: #903;
   }