body {
   min-width: 945px;
   }

p.g {
   padding: 0 10px;
   }
   
div.clear {
   clear: both;
   }
   
td#search_box_top {
   padding: 10px;
   }
   
td#search_box_top form {
   margin-bottom: 0;
   }
   
table#search_heading_controls {
   padding-left: 2px;
   padding-right: 24px;
   }
   
table#metrics {
   padding-right: 28px;
   padding-left: 4px;
   }
   
p.g a span.l {
   font-size: .92em;
   color: inherit;
   }