#banner-home
{
	position:relative;
	top: 96px;
	left: 0px;
	width:1000px;
	height:215px;
/*	background:url(../images/slash.png) 0 0 repeat;*/
	margin-top:100px;
	
}

#dcm_body_content {
	
}

.header-box {
	position: relative;
	top: -100px;
	z-index: 0;
}
#hda_banner_photo {
	position: absolute;
	z-index: -200;
}
.signin-box {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
}
img.signin
{
	z-index: 2000
}
.maincontent
{
	position: relative;
	top: -234px;
	left: 0px;
	margin: 20px;
	margin-bottom:50px;
	padding-left:20px;
	padding-top:0px;
	/*float: left;*/
	width: 700px;
	color:#fff;
	display: block;
}

.maincontent h1
{
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	margin:20px 0px;
	color:#fff;
	border-bottom:1px solid #ccc;
}
#dcm_home_content
{
	/*margin: 20px 0px 0px 0px;
	background:url(../images/slash.png) 0 0 repeat;	*/
	
	/*
	position: relative;
	top: 100px;
	left: 0px;
	*/
	
	margin: 0px 0px 0px 0px;
	/*background:url(../images/slash-2.png) 0 0 repeat;*/
	background: transparent;
	z-index: -100;
}
.homecontent
{
	position: relative;
	top: 100px;
	background:url(../images/slash-2.png) 0 0 repeat;
	width: 980px;
	height: 280px;
}
.lowerpart {
	position: absolute;
	height: 220px;
}

#hda_asu_footer {
	margin-top: 70px;
}


ul.makeMenu li > ul {          /* using the > selector prevents many lesser browsers (and IE - see below) hiding child ULs */

  top: 22px;                    /* position slightly lower than the parent menu item */
  left: 4px;                  /* this must not be more than the width of the parent block, or the mouse will
 
}


