<%= content_sheet_div %>

<div class="section">
	
	<div class="sheet_title">
	    <p>EVENT</p>
	</div>

  
	<%= dcm_show_text( 'Title:', @event.title ) %>
	<%= dcm_show_text( 'Body:', @event.body ) %>
	<%= dcm_show_text( 'Date:', @event.happens_at.to_s ) %>
  
  
  
</div>

</div>
