<%= content_sheet_div %>

<div class="section">

  <div class="sheet_title">
    <p>Courses I have completed</p>
  </div>
  
  <p class="section-caption">
    This is a list of the courses in Digital Culture that you have already enrolled in and completed. You can add a course to this list
    by returning to the main course list, finding the class, then clicking the + button in the Completed column of the course list.
  </p>

  <div class="Container">
  
	  <div id="courses">
        <%= render :partial => "course_list"  %>
    </div>
    
  </div>
  
</div>
  
</div>
