<h1>Open House</h1> 
<ul class="inpage-nav">
	<li><%= link_to 'Home', "/openhouse", :class => @current_menu['index'] %></li>
	<li><%= link_to 'Keynote Speakers', "/openhouse/speakers", :class => @current_menu['speakers'] %></li>
	<li><%= link_to 'Installations and Exhibits', "/openhouse/installations", :class => @current_menu['installations'] %></li>
	<li><%= link_to 'Performances', "/openhouse/performances", :class => @current_menu['performances'] %></li>
</ul>