<div class="maincontent" style="width:920px; position: relative">
	
	<%= render :partial => "openhouse_menu" -%>
	
	<p style="line-height: 17px;">
	The Herberger Institute for Design and the Arts is pleased to invite you to the <a href="http://digitalculture.asu.edu/">Digital Culture</a> Open House, launching an exciting initiative to educate digital media leaders and entrepreneurs in the 21st century. The open house will be held in <a href=" http://www.asu.edu/map/interactive/?campus=tempe&building=STAUF-B">Stauffer B</a>  on the Tempe campus on the afternoon of Friday, Feb. 25, 2011.  Featuring a variety of multimedia activities and exhibits, the open house showcases the newly renovated Digital Culture Hyper-collaborative Environment. <br/><br/>
			
	</p>
	<p style="line-height: 17px;">
		Digital Culture is an interdisciplinary initiative to educate digital media leaders and entrepreneurs in the 21st century. Students learn to collaboratively develop hybrid (physical-digital) systems that advance the way we live, learn, create and communicate.  The curriculum integrates arts, design, humanities, science and engineering components to foster creation of human centric cultural technologies.  A common list of proficiencies connects 50 courses offered by 12 different academic units. Students develop their own course paths that allow them to gain the proficiencies of their interest.  The curriculum is housed in the Hyper-Collaborative Environment. This dynamic facility replaces the proprietary studio training paradigm with learning through diverse collaborative networks of people who leverage digital systems.
	</p>
	
	
	
	<h2>Schedule</h2>
	
	<div class="oh-schedule">	
	<ul>
		<li>
			<h3>Noon-1:30 p.m.</h3>
			<p>Open house featuring interactive installations and exhibits by guest artists,ASU faculty, and students</p>
		</li>
		<li>
			<h3>1:30-2:15 p.m.</h3>
			<p>Introductory remarks by ASU President Michael Crow, ASU Executive Vice President and Provost Elizabeth Capaldi, and Dean and Director of the Herberger Institute for Design and the Arts,<br/>Kwang-Wu Kim</p>
		</li>
		<li>
			<h3>2:15-3 p.m.</h3>
			<p>Keynote address by Scott Snibbe</p>
		</li>
		<li>
			<h3>3-3:15 p.m.</h3>
			<p>Q&amp;A with Scott Snibbe</p>
		</li>
		<li>
			<h3>3:15-3:40 p.m.</h3>
			<p>Break and interactive installations</p>
		</li>
		<li>
			<h3>3:40-4 p.m.</h3>
			<p>Interactive performance of echo::system</p>
		</li>
		<li>
			<h3>4-4:45 p.m.</h3>
			<p>Keynote address by Ramesh Jain</p>
		</li>
		<li>
			<h3>4:45-5 p.m.</h3>
			<p>Q&amp;A with Ramesh Jain</p>
		</li>
		<li>
			<h3>5-6 p.m.</h3>
			<p>Performance by the Laptop Orchestra of Arizona State (LOrkAS)</p>
		</li>
		<li>
			<h3>5-6 p.m.</h3>
			<p>Open house with interactive installations and informal discussions</p>
		</li>
	</ul>
	</div>
	
	<p style="position:relative; top:10px;">Questions? Call 480 965 9438</p>
	<p style="position:relative; top:10px;"><a href="/images/digitalculture_open_house.pdf">Download a PDF of the event program here</a></p> 
	
	<img src="images/thrii-alternate-small.jpg" width="360" id="oh-home-photo1" />
	<img src="images/openhouse_comp.jpg" width="834" id="oh-home-photo2" />
</div>

<div class="clearfloat">
</div>