<div class="maincontent" style="width:920px;">
	
	<%= render :partial => "openhouse_menu" %>
	
	<div class="content_list">	
	<h2>Installations and Exhibits</h2>
	<h3>Building with Memory</h3>
	<p>
		Building with a Memory is an interactive installation that captures and represents human movement in a collaborative, multi-use workplace. The installation integrates co-located and distributed sensing and feedback, and displays activity over varying scales of time and space. Recording, analyzing and representing the ebb and flow of activity over time provides opportunities for communal reflection and contemplation of group action.
	
	</p>	
	</div>
	
	<div class="content_list">
		<img src="/images/smallab.jpg" alt="smallab" title="smallab" width="300px"/>
	<h3>SMALLab</h3>
	<p>SMALLab (Situated Multimedia Arts Learning Lab) is an embodied learning environment developed by a collaborative team of researchers and K-12 teachers associated with Arizona State University. This innovative environment allows the student’s physical body to function as an interface for learning. Within SMALLab, students use a set of physical tracked objects and wireless peripherals to interact in real time with dynamic visual, physical and sonic media via 3D movements and gestures. SMALLab’s motion capture system senses the position of the tracked objects and our custom software routes the information for pattern analyses of student performance and real-time feedback. The demonstration will include examples of how SMALLab is used in science education, English Language Learning (ELL), and special education.<br /><br />
		<a href="http://emlearning.asu.edu/" target="blank">details</a>
		</p>
	<div class="clearfloat"></div>
	</div>
	
	<div class="content_list">
		
	<h3>‘Bubble Harp’, ‘Gravilux’. ‘Antograph’, and ‘Tripolar’ iPad Installations</h3>
	<img src="/images/ipad_installations.jpg" alt="ipad_installations" title="ipad_installations" width="300px" />
	<p>Scott Snibbe's apps for the iPad were surprise bestsellers in Apple's app store last year, with over 400,000 downloads. These four works: Gravilux, Bubble Harp, Antograph, and Tripolar were created as screen- and web-based works of interactive art between 1997 and 2002, later adapted to the iPad and iPhone, and recently the Mac app store. All four works are what scientists call a dynamic system: a model of natural, mathematical or algorithmic reality. These systems let you touch an immaterial world that has consistent and predictable reactions, and the infinite variety of nature. Although there are few surprises when you visit a beach or pond, the experience is subtly different each time. Similarly, with these artworks the intention is for a person to feel an instant and intuitive sense of presence and control, while spending more time with a system provides greater reward. Like a musical instrument, the effect of the program on the mind is equal to the effect of the mind on the program. <br/>
		<ul>
		<li style="margin: 0px 0px 4px 0px;"><a href="http://www.snibbe.com/store/bubbleharp/" target="blank">Bubble Harp</a> draws bubble-like geometric diagrams around your fingertips, creating an ever-changing musical composition based on its structure.</li>
		<li style="margin: 0px 0px 4px 0px;"><a href="http://www.snibbe.com/store/gravilux/" target="blank">Gravilux</a> lets you draw with stars.</li>
		<li style="margin: 0px 0px 4px 0px;"><a href="http://www.snibbe.com/store/antograph/" target="blank">Antograph</a> streams ants from your fingertips.</li>
		<li style="margin: 0px 0px 4px 0px;"><a href="http://www.snibbe.com/store/tripolar/" target="blank">Tripolar</a> simulates a chaotic pendulum as a metaphor for our minds.</li>
		</ul>
	</p>
	
	</div>
	
	<div class="content_list">
	
	<h3>Learning Installations</h3>	
	<p>	The Learning Installations group is prototyping a new platform for digitally augmenting printed material and posters. Using low-cost hand held touch pads and object tracking algorithms, this system allows for a virtual window onto the printed material. The touch screen makes visible extra layers of augmented information, superimposed over the printed image. This way, new information can be explored and added to such printed material as maps, photographs, diagrams, and artwork.
	</p>
	
	</div>
	
	<div class="content_list">
		<img src="/images/taskville_matthews.jpg" alt="taskville" title="taskville" width="300px" />
		<h3>Taskville</h3>
	<p>Taskville is a distributed social media workplace game played by teams on large, public displays. The Taskville game incorporates a city-building metaphor where the completion of tasks leads to the growth of cities in the game world; each city represents a group of individuals within a broader organization. Taskville gameplay is rendered on large semi-public displays, and players participate in the game by simply completing real world tasks and reporting their completion via Twitter.<br /><br />
		<a href="http://rl.ame.asu.edu/projects/20" target="blank">details</a></p>
	<div class="clearfloat"></div>
	</div>
	
	<div class="content_list">
		<img src="/images/kiteviz.jpg" alt="kiteviz" title="kiteviz" width="300px" />
	<h3>Kiteviz</h3>
	<p>Kiteviz is an interactive visualization designed to promote reflection and support collaboration in small groups. It uses a kite flying metaphor to depict group members, their microblogging activities and communication interactions between participants. Kiteviz allows users to identify dynamic patterns of group activity and the relative closeness between members over time.<br /><br />
		<a href="http://rl.ame.asu.edu/projects/24" target="blank">details</a></p>
	</p>
	<div class="clearfloat"></div>
	</div>
	
	<div class="content_list">
	<h3>DC Visual Planner</h3>
	<p>DC visual planner is an interactive course-planning tool for students in ASU’s Digital Culture initiative. The tool allows students to explore multiple possible curriculum pathways by generating connections between proficiencies - generalized learning outcomes common across diverse academic disciplines.</p>
	</div>	
	<div class="content_list">
	<h3>Your _______ Here</h3>
	<p>Your ______here is an SMS-driven large projection display for site-specific participatory interventions. Text-based projections are displayed on the exterior of buildings, prompting passers-by to contribute responses via cell phone. The system has been used to stimulate community reflection on the reorganization of an academic institution and encourage discussion on media topics.<br /><br />
		<a href="http://rl.ame.asu.edu/projects/23" target="blank">details</a></p>
	</div>
	
	<div class="content_list">
		<img src="/images/soundwalks.png" alt="soundwalks" title="soundwalks" width="400px" />
	<h3>Soundwalks</h3>
	<p>
	<a href="http://Soundwalks.org/" target="blank">Soundwalks.org</a> is a community website and mobile application dedicated to exploring the world's rich sonic landscape. Analysis of acoustic ecology - how life relates to its environment through sound - can help to explore and provide community understanding for urban planning, maintenance of wildlife preserves, and cultural activity from community events to crime. With Soundwalks, users are able to drag anywhere on a map to hear a continuous soundscape from that area, contribute their own recordings, discuss their environments, and visualize changes in activity over time.<br/><br/>
	<a href="http://Soundwalks.org/" target="blank">details</a>
	</p>
	</div>
	
	<div class="content_list" style="border:none">
		
	<h3>Thrii</h3>
	<p>
	 Thrii is a multimodal interactive installation that explores levels of movement similarity among participants. Each of the three participants manipulates a large spherical object whose movement is tracked via an embedded accelerometer. An analysis engine computes the similarity of movement for each possible pair of objects, as well as self-similarity (e.g., repetition of movement over time) for each object. The extent of similarity among the movements of each object is communicated by a visualization projected on a three-sided pyramid, a non-directional audio environment, and lighting produced by the spherical objects. The installation's focus is intended to examine notions of collaboration between participants.<br/><br/>
	<a href="http://ame2.asu.edu/projects/thrii/THRII_Demo.m4v" target="blank">details</a>
	</p>
	</div>
	
	</div>
<div class="clearfloat">
</div>