<div class="maincontent" style="width:920px;">
	
	<%= render :partial => "openhouse_menu" %>
	
	<h2>Performances</h2>
	<div class="content_list">
	<h3>echo::system </h3>
	<p>
		echo::system is a live performance and installation work, a response to our current global environmental crisis caused by contemporary humans' inability to reflect on our own impact to the natural world. The project uses live art and installation to illuminate the complex dynamic phenomena in our environment. Constructed environments, which we call ActionStations, parallel our “natural” environments. The second piece in a 5-part series, ActionStation #2 – The Desert looks at the geographic, historical and cultural conditions of the U.S. southwestern desert through simulating walks; pathways through the landscape on “smart” treadmills. Technology is employed both functionally and metaphorically in this work. The installation is a re-engineering of a conventional treadmill to evoke an embodied interaction, developing active and engaging mediated spaces to explore socio-cultural and ecological aspects of the desert Southwest that are not immediately apparent through contemporary means of travel.<br/><br/>
		Referencing the Walkabout, an indigenous practice of Aboriginal Australia, our treadmill walk extends the metaphor of an interface with the land to activate memory and integrate different levels of information. The performance juxtaposes the common treadmill of mechanically assisted walking with an actual walk and by “going nowhere” the performance affords the user opportunities to reflect in the best tradition of speculative fiction: creating an alternate reality, with re-mixed histories, timescales, and ecologies, promoting contemplation of our own past, present and future.<br/><br/>
		This project was generously supported by the Institute for Humanities Research at Arizona State University.
	</p>
	</div>
	<div class="content_list" style="border:none">
	
	<h3>Laptop Orchestra of Arizona State (LOrkAS)</h3>
	<p>The newly formed Laptop Orchestra of Arizona State (LOrkAS) welcomes you to our second public jam session. The undergraduate and graduate researchers of this ensemble, which is descended from the Princeton and Stanford LOrks, are beginning to push the envelope of integrating arts and technology into a trans-disciplinary entity. The ensemble serves as a one-of-a-kind learning environment where one can expand music, computer science, composition, movement, visuals, and live performance skills in a naturally interdisciplinary way. Come experience this uniquely immersive experience. Witness our next iteration as we begin to explore the answer to the question: 'What does it mean to be a laptop orchestra?'<br/><br/>
	This jam features original compositions by Perry Cook and Ge Wang from Stanford and Princeton, and by Scott Smallwood and Dan Trueman from Princeton.<br/></p>
	<div class="toggle_button">Lorkas Program Notes</div>
	<div class="toggle_div">
		<h5><span class="title">breeze brings...</span> by Scott Smallwood</h5>
		<p>
		This "prelude" came about as a result of several mornings of hacking in ChucK. As I listened to the wind chimes outside my door, I began to realize that they were influencing the intuitive process of my experimentations. Before long, I had created some algorithmic instruments that sounded rather nice together. This piece grows slowly out of the acoustic soundscape of the space, and then slowly subsides back into it, like a very slow breeze.
		</p>
		<h5><span class="title">CliX</span> by Ge Wang</h5>
		<p>		
		In this piece, human operators type to make sounds, while their machines synthesize, synchronize, and spatialize the audio. Every key on the computer keyboard (upper/lower-case letters, numbers, symbols) is mapped to a distinct pitch (using the key's ASCII representation) and when pressed, emits a clicking sound that is synchronized in time to a common pulse. A (human) conductor coordinates frequency range, texture, movement, and timing.
		</p>
		
		<h5><span class="title">Crystalis</span> by Ge Wang</h5>
		<p>
		Originally created for the Ear to the Earth Festival in NYC, this piece is a sonic rumination of crystal caves in the clouds, where the only sounds are those of the wind and the resonances of the crystals. It uses two simple instruments called the crystalis and wind-o-lin.  These instruments make use of the laptop keyboard (which controls pitch and resonance) and the trackpad (which the players bow in  various patterns to generate sound).
		</p>
		
		<h5><span class="title">Drone</span> by Dan Trueman</h5>
		<p>
		This is part of a series of works and experiments with using onboard sensors (found on newer Apple and other laptops, intended to protect the hard drives in the event of sudden motion) to control sonic and musical parameters.  The players have control over volume, pitch, and timbre via the onboard accelerometers and trackpad. 
		</p>
		<h5><span class="title">Non-Specific Gamelan Taiko Fusion</span> by Perry Cook and Ge Wang</h5>
		</h5>
		<p>
		This piece is an experiment in human controlled, but machine synchronized percussion ensemble performance. Various percussive sounds are temporally positioned by PLOrk members, and the piece gradually transitions from tuned bell timbres to drums as the texture and density grows.
		</p>
		<h5><span class="title">Take it for Granite</span> by Perry Cook and Ge Wang</h5>
		<p>
		This sonic landscape was mined from recordings of stone sculptor Jonathan Shor's working of a large piece of granite. I recorded him drilling, placing shims, tapping the shims, and the wonderful sound of millions of years of energy being released as the stones split. The PLOrk players manipulate these sounds via a ChucK program that allows them to change properties of the sounds. Eventually, a rhythmic pattern emerges (the striking) wherein the individual PLOrk players control both texture and synchronization.
	</p>
	</div>
	</div>
	</div>
<div class="clearfloat">
</div>