<div class="maincontent" style="width:920px;">
	
	<%= render :partial => "openhouse_menu" %>

	
	<h2>Keynote Speakers</h2>
	
	<div class="content_list">
	<h3>Scott Snibbe</h3> 
	<p><img src="/images/snibbe_5.jpg" height="250px"/><%= link_to 'Scott Snibbe', "http://www.snibbe.com/",:target => "blank" %> is a media artist, filmmaker, and researcher in social interactivity. Whether on mobile devices or in large public spaces, his interactive art spurs people to participate socially, emotionally, and physically.  His works are strongly influenced by cinema: particularly animation, silent, and surrealist film; and sometimes mix actors’ filmed performances with real-time audience interaction. His artwork is in the permanent collections of the Whitney Museum of American Art (New York) and The Museum of Modern Art (New York).His work has been shown in over one hundred solo and group exhibitions since 1989 including the Institute of Contemporary Arts (London), The Berkeley Art Museum (California), InterCommunications Center (Tokyo); and Ars Electronica (Austria). His has received grants and awards from the National Science Foundation, Renew Media, the Rockefeller Foundation, the Ford Foundation, Prix Ars Electronica, and the National Endowment for the Arts. He is the founder of two organizations: Snibbe Interactive, Inc., which distributes social interactive media; and Sona Research, which engages in educational and cultural research.  He holds Bachelor’s degrees in Computer Science and Fine Art, and a Master’s in Computer Science from Brown University. He has taught media art and experimental film at Brown University, The San Francisco Art Institute, the California Institute of the Arts, The Rhode Island School of Design, and U.C. Berkeley. He has worked at Adobe Systems where he made substantial contributions to the special effects software Adobe After Effects. He has published numerous articles and academic papers, and is an inventor on over a dozen patents.</p>
	</div>
	
	<div class="content_list" style="border:none">
	<h3>Ramesh Jain</h3>
	<p><img src="/images/Ramesh_Jain.jpg" /><%= link_to 'Ramesh Jain', "http://ngs.ics.uci.edu/",:target => "blank" %>  is an entrepreneur, researcher, and educator. He is a Donald Bren Professor in Information &amp; Computer Sciences at University of California, Irvine where he is doing research in Event Web and experiential computing. Earlier he served on the faculty of Georgia Tech, University of California at San Diego and the University of Michigan, Ann Arbor.  He is a Fellow of ACM, IEEE, AAAI, IAPR, and SPIE. He is the recipient of several awards including the ACM SIGMM Technical Achievement Award 2010. Ramesh co-founded several companies, managed them in initial stages, and then turned them over to professional management. These companies were: PRAJA, for event-based business activity monitoring (acquired by Tibco); Virage, for media management solutions and visual information management (a NASDAQ company acquired by Autonomy); ImageWare, for surface modeling, reverse engineering rapid prototyping, and inspection (acquired by SDRC); Lambent (acquired by GlobalLogic); and Seraja. Currently he is involved in two new start-ups as cofounder and advisor: mChron and Stikco Studio. He has also been advisor to several other companies including some of the largest companies in media and search space.<p>	
		</div>
	
	
	
</div>

<div class="clearfloat">
</div>