<div id="hda_asu_footer">
   
<!-- START FOOTER /asuthemes/2.0/includes/html/asu_footer.shtml -->   
<ul id="asu_footer" class="asu_black_footer">
	<li><a href="http://www.asu.edu/copyright/">Copyright &amp; Trademark</a></li>
	<li><a href="http://www.asu.edu/accessibility/">Accessibility</a></li>
	<li><a href="http://www.asu.edu/privacy/">Privacy</a></li>
	<li><a href="http://www.asu.edu/emergency/">Emergency</a></li>
	<li class="no-border"><a href="http://www.asu.edu/contactasu/">Contact ASU</a></li>
</ul>
<!-- END FOOTER -->

<!-- START HDA FOOTER  -->   
<div id="asu_footer_contact_info">
	<p>Herberger Institute for Design and the Arts<br />
	PO Box 872102<br />
	Tempe, AZ 85287-2102  | <a href="http://www.asu.edu/map/interactive/?campus=tempe" class="noprintedlink">Campus map</a> | 480.965.6536<br />
	<a href="http://herbergerinstitute.asu.edu/contact/" class="noprintedlink">Contact Herberger Institute</a> | 
	<a href="http://herbergerinstitute.asu.edu/webupdates/" class="noprintedlink">Web corrections</a></p>
</div>
<!-- END FOOTER -->

</div> <!-- END #hda_asu_footer-->
