<div class="side_section">
  <p class="path_title">map links</p>
  <div class="path_class">
    <%= link_to "DC courses", '/map' %>
  </div>
  <div class="path_class">
    <%= link_to "History & Theory Studies", '/map/history_studies' %>
  </div>
  <div class="path_class">
    <%= link_to "DC Majors, Minor and Cert Maps", '/education/degrees' %>
  </div>
  <br/>
</div>
